#who {
	background-color: #fef6e4;
	padding: 20px;

	p {
		text-align: center;
		color: #172c66;
		font-family: 'Questrial', sans-serif;
		font-size: 18px;
	}
}

#what {
	background-color: #f3d2c1;

	p {
		text-align: center;
		font-weight: bold;

		&.header {
			font-family: 'Petit Formal Script', cursive;
			font-size: 35px;
		}

		&.closer {
			font-family: 'Questrial', sans-serif;
			font-size: 18px;
		}
	}

	li {
		font-family: 'Questrial', sans-serif;
	}
}

.list {
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	margin: 0.5rem 0;
	margin-left: 2rem;

	li {
		color: #172c66;
	}
}

#rates {
	background-color: #fef6e4;

	.price-card {
		margin: 1rem 0;
		border-radius: 30px;

		.fine-print {
			text-align: center;
			font-family: 'Questrial', sans-serif;
			color: #172c66;
		}
	}

	.pricing-row {
		justify-content: space-around;

		.pricing {
			background-color: #001858;

			.headline {
				color: #fffffe;
			}

			.paragraph {
				color: #fef6e4;
			}

			.highlight {
				color: #f582ae;
			}
		}
	}
}

#about {
	background-color: #fffffe;

	.about-card {
		margin: 1rem 0;
		border-radius: 30px;
		background-color: #f3d2c1;
	}

	.vitals {
		display: flex;
		flex-direction: column;
		margin: 1rem 0;
		color: #172c66;
		text-align: center;
	}

	li {
		color: #172c66;
		font-family: 'Questrial', sans-serif;
	}

	.tag {
		text-align: center;
		color: #001858;
		font-family: 'Questrial', sans-serif;
		font-weight: bold;
		font-style: italic;
	}
}

#contact {
	background-color: #fef6e4;

	.icon {
		color: #172c66;
		margin-right: 5px;
	}
}

.email-link {
	&:hover {
		color: #f582ae;
	}
}
