#who {
	background-color: #fef6e4;
	padding: 20px;

	p {
		text-align: center;
		color: #172c66;
	}
}

#what {
	background-color: #f3d2c1;

	p {
		text-align: center;
		color: #001858;
		font-weight: bold;
	}
}

.list {
	// display: flex;
	// flex-direction: column;
	// justify-content: center;
	margin: 0.5rem 0;
	margin-left: 2rem;

	li {
		color: #172c66;
	}
}

#rates {
	background-color: #fef6e4;

	.pricing-row {
		justify-content: space-around;

		.pricing {
			background-color: #001858;

			.headline {
				color: #fffffe;
			}

			.paragraph {
				color: #fef6e4;
			}

			.highlight {
				color: #f582ae;
			}
		}
	}
}

#about {
	background-color: #fffffe;

	.vitals {
		justify-content: space-around;
		align-items: center;
		margin: 1rem 0;
		background-color: #f3d2c1;
		padding: 30px 0;
		color: #172c66;
		border-radius: 30px;
	}

	.tag {
		text-align: center;
		color: #001858;
		font-weight: bold;
		font-style: italic;
	}
}

#contact {
	background-color: #fffffe;
}
