.text-area {
	width: 100%;
	border-radius: 10px;
	padding: 10px;
	margin: 5px 0;
	color: #001858;

	&::placeholder {
		color: #001858;
		font-weight: bold;
	}

	&::-ms-input-placeholder {
		color: #001858;
		font-weight: bold;
	}
}
