.topbar {
	background-color: #001858;

	.home-link {
		flex-grow: 1;
		color: #fef6e4;

		span {
			color: #f582ae;
		}

		&:hover {
			color: #f582ae;

			span {
				color: #fef6e4;
			}
		}
	}

	.nav-link {
		margin: 0 0.75rem;
		color: #fef6e4;

		&:hover {
			color: #f582ae;
		}
	}

	span {
		font-family: 'Petit Formal Script', cursive;
	}
}
